body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

a {
  color: #000;
}
header {
  text-align: center;
  min-height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-bottom: 2px solid #000;
}

header a {
  text-decoration: none;
}

header a h1 {
  font-size: 4rem;
}


#root {
  min-height: 100%;
  flex: 1;
}

